# For more information on how to set up the environment variables, 
# please refer to the [documentation](docs/Settings in dotenv.md)

# Django settings for gastronome project.
DJANGO_SECRET_KEY="django-secret-key"
DJANGO_DEBUG="True"
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"

# PostgreSQL database configuration
POSTGRES_DB=gastronome
POSTGRES_USER=django
POSTGRES_PASSWORD="postgres-password"
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis configuration
REDIS_URL=redis://:foobared@127.0.0.1:6379/6

# User model import configuration
DEFAULT_USER_PASSWORD=password888

# Google Maps API key
GOOGLE_MAPS_API_KEY="google-maps-api-key"

# OpenSearch configuration
OPENSEARCH_HOST=http://localhost:9200
OPENSEARCH_USER=django
OPENSEARCH_PASSWORD=opensearch-password