# The following settings are the recommended changes for the Gastronome Project.
# All configurations are for Apache Airflow 3.0.2.
# For the full list of options, see: https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html

[core]
simple_auth_manager_users = admin:admin,bob:viewer
executor = LocalExecutor
default_timezone = America/New_York
load_examples = False

[database]
sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@localhost:5432/airflow

[email]
email_backend = airflow.utils.email.send_email_smtp
from_email = "Airflow Alert <airflow@example.com>"

[smtp]
smtp_host = smtp.example.com
smtp_port = 587
smtp_user = airflow
smtp_password = yourpassword
smtp_mail_from = airflow@example.com
smtp_starttls = True
smtp_ssl = False

[api]
host = 0.0.0.0
port = 8080
secret_key = secret-key
