{% load static %}

{% include "common/head.html" %}
<title>Gastronome | {% block title %}{% endblock %}</title>
<body>
  <div id="page">
    {% block header %}
      {% with logo_path|default:'img/logo.svg' as logo_path %}
        {% include "common/nav_transparent.html" %}
      {% endwith %}
    {% endblock %}
    
    {% block sub_header %}
    {% endblock %}

    {% block content_header %}
    {% endblock %}
    <main>
      {% block content %}
      {% endblock %}
    </main>

    {% include "common/footer.html" %}
  </div>

  {% block extra_js %}
  {% endblock %}
</body>
</html>
